/*Homepage*/

html {
  position: relative;
  min-height: 100%;
}
body {
	min-width: 990px;
    margin: 0 0 392px; /* the bottom margin should = the footer height */
}

p {
	margin: 0 auto;
	height: auto;
	text-align: center;
	padding: 10px;
	width: 45%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

h1 {
	text-align: center;
	font-family: 'Bitter', sans-serif;
	font-weight: 400;
	font-size: 28pt;
	padding-bottom: 10px;
}


/* Header */
.header {
	position: fixed;
	height: auto;
	width: 100%;
	background-color: white;
	opacity: .95;
	padding: 10px 20px 10px 20px;
	top: 0;
	z-index: 100;
}


.header nav{
	float: right;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 12pt;
	padding-top: 23px;
	padding-right: 25px;
}

.header a {
	text-decoration: none;
	color: #67BFA2;
	padding-right: 20px;
}

.header a:hover {
	text-decoration: underline;
	color: #67BFA2;
	padding-right: 20px;
}

.intro {
	float: left;
}

.intro a {
	float: left;
	font-family: 'Bitter', sans-serif;
	font-size: 18;
	font-weight: 700;
	text-decoration: none;
	color: #373D39;
	line-height: 16pt;
}

.intro a:hover {
	float: left;
	font-family: 'Bitter', sans-serif;
	font-size: 18;
	font-weight: 700;
	text-decoration: none;
	color: #67BFA2;
	line-height: 16pt;
}

.intro p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 12pt;
	line-height: 16pt;
	width: 600px;
	padding-left: 0;
	padding-top: 0px;
	text-align: left;
}

nav li {
	display: inline;
}


/* Backgrounds*/


.Brand {
	width: 100%;
	height: auto;
	padding: 50px, 0;
	margin: 0 auto;
	background-color: #373D39;
}

.Social {
	width: 100%;
	height: auto;
	padding: 50px, 0;
	margin: 0 auto;
	background-color: #67BFA2;
}

.Health {
	width: 100%;
	height: auto;
	padding: 50px, 0;
	margin: 0 auto;
	background-color: #EDE6C3;
}

.Freelance {
	width: 100%;
	height: auto;
	padding: 50px, 0;
	margin: 0 auto;
	background-color: white;
}



/* Projects*/

.Projects{
	position: relative;
	top: 75px;
}

.Projects h1 {
	color: white;
	text-shadow: 2px 2px 1px black;
	padding-top: 75px;
}

.Projects .Health h1 {
	color: #373D39;
	text-shadow: 2px 2px 1px white;
}

.Projects .Freelance h1 {
	color: #373D39;
	text-shadow: 2px 2px 1px white;
}

.Projects p {
	color: white;
}

.Projects .Health p {
	color: #373D39;
}

.Projects .Freelance p {
	color: #373D39;
}

.project-links {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	height: auto;
	padding-bottom: 75px;
	padding-top: 25px;
	display: inline-block;
}

.project-links a{
	padding: 10px;
}



/*Clients*/

.client_container {
	width: 510px;
	height: 175px;
	text-align: center;
	margin: 0 auto;

}

.client_container h1 {
	text-align: left;
	padding-top: 75px;
	font-family: 'Bitter', sans-serif;
	font-weight: 400;
	font-size: 17pt;
	padding-bottom: 10px;

}

.clients {
	width: 150px;
	float: left;
	padding: 10px;
	margin: 0 auto;
}


.clients h2 {
	font-family: 'Bitter', serif;
	font-weight: 600;
	font-size: 10pt;
	text-align: left;
	margin-bottom: 5px;
}

.clients li {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	line-height: 1.75;
	text-align: left;
}

/*footer*/
footer {
	min-width: 990px;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-top: 100px;
	display: block;
	height: 392px;
	position: absolute;
}

.footer_background {
	background-color: #2f3031;
	width: 100%;
	height: 150px;
}

.city {
	background-position: center center;
	background-image: url(../Images/skyline.png);
	width: 100%;
	height: 242px;
}

footer p {
	font-weight: 300;
	font-size: 10pt;
	padding-left: 50px;
	margin-top: 100px;
	color: white;
	float: left;
}

.clear {
	clear: both;
}

/* Responsive */

@media only screen and (max-width: 900px) {
	
	/* Header */


	.header {
		text-align: center;
		max-width: 100%;
		margin: auto;
		padding: 15px 0px;
		float: none;
		position: absolute;
		opacity: 1;
	}

	.intro a {
		float: none;
		margin: 0 auto;
	}

	.intro a:hover {
		padding: 10px;
	}

	.intro {
		float: none;
		margin: 0 auto;
		width: 90%;
	}

	.header nav {
		float: none;
		width: 100%;
		padding-top: 10px;
		margin: 0 auto;
		text-align: center;
	}


