html { 
  background: url(../Images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
	margin: 0 auto;
	margin-top: 75px;
	width: 500px;
	height: 500px;
	background-color: #475066;
	opacity: .90;
	border-radius: 500px;
}

.wrapper {
	position: relative;
	top: 98px;
}

body {
	margin: 0 auto;
	font-family: 'Cabin', sans-serif;
	color: white;
	font-size: 12pt;
	line-height: 1.5;
	font-weight: 400;
	text-shadow: 1px 1px 1px #1e2840;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-family: 'Arvo';
	font-weight: 400;
	color: white;
	width: 400px;
	margin: 0 auto;
	font-size: 28pt;
	line-height: 44px;
	text-shadow: 2px 2px 1px #1e2840;
}

p {
	width: 400px;
	margin: 0 auto;
	padding-top: 25px;
}

ul, menu, dir {
-webkit-padding-start: 0px;
}


.buttons li {
	margin: 0 auto;
	margin-top: 40px;
	list-style-type: none;
}

.buttons a {
	background-color: #D8CEA4;
	color: #475066;
	text-decoration: none;
	padding: 15px;
	text-shadow: none;
}

.buttons a:hover {
	background-color: white;
}
