h1 {
	font-family: 'Arvo';
	font-weight: 700;
	color: white;
	padding: 45 0 0 0;
	font-size: 28pt;
	text-shadow: 2px 2px 1px #397b65;
}

p {
	margin: 0 auto;
	font-family: 'Cabin', sans-serif;
	color: #373D39;
	font-size: 12pt;
	line-height: 1.5;
	font-weight: 400;
	width: 375;
}

.buttons a {
	font-family: 'Cabin',sans-serif;
	font-weight: 400px;
	font-size: 10pt;
	color: #373D39;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	background-color: #D8CEA4;
	width: 200px;
	text-align: center;
}

.buttons a:hover {
	font-family: 'Cabin',sans-serif;
	font-weight: 400px;
	font-size: 10pt;
	color: #108979;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	background-color: white;
	text-align: center;

}

.intro a {
	font-family: 'Cabin', sans-serif;
	color: white;
	font-size: 12pt;
	line-height: 1.5;
	font-weight: 500;
	text-decoration: none;
	text-shadow: 1px 1px 1px #397b65
}

.intro a:hover {
	font-family: 'Cabin', sans-serif;
	color: #D8CEA4;
	font-size: 12pt;
	line-height: 1.5;
	font-weight: 500;
	text-decoration: none;
}

.hi {
	width: 1200px;
	height: 200px;
	background-color: gray;
	position: absolute;
	bottom: 0;
	left: 0;

}

body {
	margin: 0 auto;
	text-align: center;
	background-image: url(../Images/background.jpg);
	background-position: center;
	background-repeat: no-repeat;

}

h2 {
	margin: 0 auto;
	font-family: 'Arvo';
	letter-spacing: 1px;
	font-weight: 400;
	color: white;
	font-size: 14pt;
	padding-top: 45px;
	padding-bottom: 15px;
	width: 350px;
	text-shadow: 2px 2px 1px #397b65;
}

.content {
	margin: 0 auto;
	margin-top: 100px;
	width: 500px;
	height: 400px;
	background-color: #67BFA2;
	opacity: .90;
}