/*header*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	padding: 10px;
	background-color: white;
	border-bottom: 2px solid black;
}

#logo {
	float: left;
}

.headerlinks {
	float: right;
	font-family: sans-serif;
}

#home {
	float: left;
	padding: 10px;
	background-color: red;
	color: white;
	text-decoration: none;
	font-family: sans-serif;
}

.clear {
	clear: both;
}

/* Main Body */

body {
	background-image: url('../Images/triangular.png')
}

.container {
	width: 1200px;
}

.sidenav {
	position: fixed;
	width: 200px;
	height: 100%;
	padding: 10px;
	left: 0;
	top: 58px;
	background: rgba(0,0,0,.5);
}

h2 {
	font-size: 10pt;
	padding: 10px;
	color: #b6b6b6;
}

li {
	font-size: 12pt;
	padding: 5px;
}

li a {
	text-decoration: none;
	color: #2391cf;
}

.content{
	width: 1000px;
	margin: 70px 0 25px 250px;
}

.tracks {
	float: left;
	display: inline;
}