/* styling */

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	line-height: 16pt;
	color: #373D39;
}

a {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	line-height: 16pt;
	color: #373D39;
}

li {
	list-style: none;
	display: inline;
}

/* Header */
.header {
	position: fixed;
	width: 100%;
	height: auto;
	background-color: #373D39;
	opacity: .75;
	padding: 15px 20px 15px 20px;
	z-index: 10;
}


.header nav {
	float: right;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	padding: 10px;
	padding-right: 25px;
	list-style: none;
}


.header a {
	text-decoration: none;
	font-weight: 100;
	color: white;
	padding-right: 20px;
}

.header a:hover {
	text-decoration: underline;
	color: #67BFA2;
	padding-right: 20px;
}

.intro {
	float: left;
}

.intro a {
	float: left;
	font-family: 'Bitter', sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding: 10px;
	text-decoration: none;
	color: #67BFA2;
}

.intro a:hover {
	color: #67BFA2;
	text-decoration: none;
}

.intro p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: white;
}

/* Content Div */

.content {
	width: 100%;
	position: absolute;
	top: 115px;
	padding: 25px;
}

/*Project Description*/

.project {
	float: left;
	width: 30%;
	position: fixed;
}

.project h1 {
	font-family: 'Bitter', sans-serif;
	font-weight: 400;
	font-size: 24pt;
	padding-bottom: 5px;
	color: #373D39;
}

.project a {
	text-decoration: none;
	color: #67BFA2;
}

.clear {
	clear: both;
}

/* gutter */

.gutter {
	width: 5%;
}


/*Project Photos*/

.photos {
	float: right;
	width: 65%;

}

.photos img {
	width: 90%;
	height: 90%;
	margin-bottom: 20px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 1);
	box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 1);
}

/* Responsive */

@media only screen and (max-width: 900px) {
	
	/* Header */


	.header {
		text-align: center;
		max-width: 100%;
		margin: auto;
		padding: 15px 0px;
		float: none;
		position: absolute;
	}

	.intro a {
		float: none;
		position: static;
		padding: 0;
		margin: 0 auto;
	}

	.intro a:hover {
		padding: 0;
	}

	.intro {
		float: none;
		margin: 0 auto;
		width: 100%;
		position: absolute;
	}

	.header nav {
		float: none;
		width: 90%;
		padding-bottom: 10px;
		top: 15px;
		margin: 0 auto;
		text-align: center;
		position: relative;
	}

	.content {
		padding: 0px;
		top: 125px;
	}

	/*Project Description*/

	.project {
		float: none;
		position: static;
		width: 75%;
		padding-bottom: 30px;
		margin: 0 auto;
		text-align: center;
	}


	/* gutter */

	.gutter {
		width: 0%;
	}


	/*Project Photos*/

	.photos {
		float: none;
		position: static;
		width: 100%;
		text-align: center;

	}

	.photos img {
		margin: 0 auto;
		width: 90%;
		height: 90%;
		margin-bottom: 10px;
	}
}








