/* Header */
.header {
	position: fixed;
	width: 100%;
	height: auto;
	background-color: white;
	opacity: .95;
	border-bottom: 2px solid #373D39;
	padding: 15px 20px 15px 20px;
	top: 0;
	z-index: 10;
}


.header nav{
	float: right;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 12pt;
	padding-top: 23px;
	padding-right: 15px;
}

.header a {
	text-decoration: none;
	color: #67BFA2;
	padding-right: 20px;
}

.header a:hover {
	text-decoration: underline;
	color: #67BFA2;
	padding-right: 20px;
}

.intro {
	float: left;
}

.intro a {
	float: left;
	font-family: 'Bitter', sans-serif;
	font-size: 18;
	font-weight: 700;
	text-decoration: none;
	color: #373D39;
	line-height: 16pt;
}

.intro a:hover {
	float: left;
	font-family: 'Bitter', sans-serif;
	font-size: 18;
	font-weight: 700;
	text-decoration: none;
	color: #67BFA2;
	line-height: 16pt;
}

.intro p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 12pt;
	line-height: 16pt;
}


/*Project Description*/

.Project {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 150px;
}

.Project h1 {
	font-family: 'Bitter', sans-serif;
	font-weight: 400;
	font-size: 24pt;
	padding-bottom: 10px;
	color: #373D39;
}

.Project a {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	text-decoration: underline;
	color: #67BFA2;
}

.Project p {
	margin-top: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	line-height: 16pt;
	color: #373D39;
}

.clear {
	clear: both;
}

/*Project Photos*/

.Photos {
	width: 1000;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 50px;

}

.Photos img {
	margin-bottom: 40px;
	box-shadow: 0px 0px 10px rgba(55, 61, 57, 0.25);
}

.Photos p {
	text-align: center;
	font-family: 'Bitter', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	padding-bottom: 10px;
	color: #373D39;
}