/* Added */
html {
  position: relative;
  min-height: 100%;
}
body {
    margin: 0 0 392px; /* the bottom margin should = the footer height */
}


/* Header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background-image: url(../Images/background.png);
	opacity: .75;
	border-top: 2px solid black;
	z-index: 100;
}


.header nav{
	text-align: right;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	margin-top: 25px;
	margin-right: 15px;
	z-index: 200;
}

.header a {
	text-decoration: none;
	color: black;
	padding-right: 20px;
	z-index: 110;
}

/* Intro */
.intro {
	margin-top: 100px;
	width: 100%;
	text-align: center;
}

.intro a {
	font-family: 'Bitter', sans-serif;
	font-size: 24;
	font-weight: 700;
	text-decoration: none;
	color: black;
}

.intro p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 12pt;
	padding: 15px;
}

/*Branding Projects*/

.Branding_Projects {
	width: 100%;
	height: 500px;
	margin-top: 75px;
	background-color: #373D39;
	position: relative;
}

.Branding_Projects h1 {
	text-align: center;
	position: relative;
	top: 25px;
	margin: 0 auto;
	font-family: 'Bitter', sans-serif;
	font-weight: 400;
	width: 400px;
	font-size: 32pt;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	color: #373D39;
	float: left;

}

.Branding_Projects p {
	position: absolute;
	left: 400px;
	text-align: left;
	margin-left: 15px;
	width: 275px;
	top: 33px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 10pt;
	line-height: 14pt;
	color: white;
}



/*Social Projects*/
.Social_Projects {
	width: 100%;
	height: 500px;
	background-color: #67BFA2;
	position: relative;
}




.Social_Projects h1 {
	text-align: center;
	position: relative;
	top: 25px;
	margin: 0 auto;
	font-family: 'Bitter', sans-serif;
	font-weight: 400;
	width: 400px;
	font-size: 32pt;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	color: #67BFA2;
	float: left;

}

.Social_Projects p {
	position: absolute;
	left: 400px;
	text-align: left;
	margin-left: 15px;
	width: 275px;
	top: 33px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 10pt;
	line-height: 14pt;
	color: #373D39;
}



.social1 {
	width: 900px;
	padding-top: 55px;
	margin: 0 auto;
}


.social1 div {
	position: relative;
	top: 30px;
	width: 250px;
	height: 250px;
	margin-left: 35px;
	margin-top: 10px;
	float: left;


}

.social1 div img {
	position: absolute;
	left: 25px;
	right: 25px;

}

.social1 div a {
	position: absolute;
	bottom: 20px;
	width: 250px;
	text-align: center;
	text-decoration: none;
	color: #373D39;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 12pt;
}

.social1 div a:hover {
	position: absolute;
	bottom: 10px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	color: white;
	text-decoration: none;
}


/*Clients*/

.client_container {
	width: 715px;
	height: 175px;
	padding: 35px;
	text-align: center;
	position: relative;
	margin: 30 auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.client_container h1 {
	width: 600px;
	padding: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 11pt;
	text-align: left;
	position: absolute;
	top: 10px;
}

.clients {
	width: 200px;
	float: left;
	padding-right: 25px;
	padding-left: 10px;
	margin: 10 auto 10 auto;
}


.clients h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 10pt;
	text-align: left;
	margin-bottom: 5px;
}

.clients li {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	line-height: 1.75;
	text-align: left;
}

/*footer*/
footer {
	bottom: 0;
	left: 0;
	width: 100%;
	margin-top: 100px;
	display: block;
	height: 392px;
	position: absolute;
}

.footer_background {
	background-color: #2f3031;
	width: 100%;
	height: 150;
}

.city {
	background-position: center center;
	background-image: url(../Images/skyline.png);
	width: 100%;
	height: 242px;
}

footer p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	padding-left: 50px;
	margin-top: 100px;
	color: white;
	float: left;
}

.clear {
	clear: both;
}


